<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.PowerShell.5.ReferenceAssemblies" version="1.0.0" targetFramework="net451" />
  <package id="PacketDotNet" version="0.16.0" targetFramework="net451" />
  <package id="SharpPcap" version="4.4.0" targetFramework="net451" />
</packages>